{% extends "layout.html" %}
{% block content %}
    <div class="buffer container">
        {% if get_flashed_messages() %}
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% else %}
            <h1>Please enter your email address</h1>
            <p>We will send you an email with a link to reset your password <i>(this will only work if you have signed up with a functioning email account. Check your junk mail if an email doesn't come through immediately)</i></p>
            {{ wtf.quick_form(form, id='quick_form') }}
        {% endif %}
    </div>
{% endblock %}