{% extends "layout.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        <div class="buffer container">
            <h1>Sign In</h1>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {{ wtf.quick_form(form, id='quick_form') }}
            <a href="/forgot_password">Forgot Password?</a>
        </div>
    {% endwith %}
{% endblock %}