.welcome{
    color: red;
    margin-top: 45px;
    text-align: center;
}
.avatar{
    max-width: 80px;
    max-height:80px;
}
.buffer{
    margin-top:8em;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items:center;
}
.school_index{
    display: inline-flex;
    width: 100%;
    line-height: 12px;
    border-bottom: .5px solid black;
    border-radius: 6px;
    box-shadow: 4px 5px 9px -2px rgba(0,0,0,0.8);
}
.btn-group{
    position: fixed;
    right: 160px;
    top: 3.4em;
}
h3{
    line-height: 0.3em;
    margin-left: 1em;
    margin-top: 2em;
}
.user-circle{
    border-radius: 50%;
    height: 3.1em;
    width: 3.1em;
    position: fixed !important;
    top: 0;
    right: 4.5em;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3px;

}
.user_circle_dropdown{
    color:#9d9d9d;
    line-height:3.62em;
    margin-left:1em;
}
.pic-limit{
    width: 100%;
}
.warning{
    color:red;
    text-align: center;
}
.test_scores{
    width: 12em;
}
.student-checkbox{
    font-size: 16px;
}
.course-button{
    width: 10em;
}
.test-input{
    max-width: 7em;
    height: 2em;
}
.new-test-title{
    margin-bottom: 4em;
}
.form-input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.bootstrap-copy{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 4px;
}
.bootstrap-copy:hover{
    color: #fff;
    background-color: #286090;
    border-color: #2e6da4;
    border-radius: 4px;
}
.add-student-buffer{
    width: 14.5em;
}
.student-course-buffer{
    width: 12em;
}
.homepage {
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;

    min-height: 46em !important;
  }
.homepage-banner {
    max-height:8em;
    min-height:1em;
    background-color:#222;
    color: #9d9d9d;
    font-family: "Calibri", Times, serif;
    font-size:36px;
    min-width:100%;
    text-align: center;
    z-index: 1;
}
.first {
    position: relative;
    bottom: 0;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.card-backdrop {
    min-height: 50em;
    background-color: #9d9d9d;
    box-sizing: border-box;
    margin: 0 -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-content {
    width: 20rem;
    box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.75);
    text-align: center;
}

.homepage-card {
    margin-top: 17em;
    border-radius: 6px;
    background-color: white;
    height: 18em;
}
.card-icon {
    height: 10em;
    margin-top: 1em;
}
.last {
    position: sticky;
    top: 1.4em;
}
.bottom{
    min-height:80px;
}

@media screen and (max-width: 767px) {
    .btn-group {
        right: 0;
    }
}

@media screen and (max-width: 440px) {
    .test_scores{
        width: 5em;
    }
    .student-course-buffer{
        width: 5em;
    }
}

@media screen and (max-width: 600px) {
    .card-icon{
        height: 6em;
    }
    .homepage-card{
        height: 14em;
    }
    .card-content{
        width: 7em;
    }
}
/* adjust for iphones which don't support fixed background attachments */
@supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */ 
    .homepage {
        background-repeat: no-repeat !important;
        background-attachment: scroll !important;
        background-size: cover !important;
        min-height: 46em !important;
    }
    #school {
        background-repeat: no-repeat !important;
        background-attachment: scroll !important;
        background-size: cover !important;
        min-height: 46em !important;
    }
    .btn-group {
        right: 5em;
    }
    .user-circle{
        border-radius: 50%;
        height: 3.1em;
        width: 3.1em;
        position: fixed !important;
        top: 3;
        right: 1em;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3.8em;
        z-index: 3;
    }
  }