
<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if current_user.started_at_school %}
                <form id="teacher" action="/teachers/{{ current_user.id }}" method="post">
                {% else %}
                <form id="student" action="/students/{{ current_user.id }}" method="post">
                {% endif %}
                    <div class="form-group">
                        <label for="old_password">Current Password</label>
                        <input type="password" name="old_password" class="form-control" id="old_password" placeholder="Current Password">
                    </div>
                    <div id="new_password1" class="form-group">
                        <label for="exampleInputPassword1"> New Password</label>
                        <input type="password" name="new_password1" onkeyup="match(this.value)" class="form-control" id="Password2" placeholder="New Password">
                    </div>
                    <div id="new_password2" class="form-group">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        <input type="password" name="new_password2" onkeyup="match(this.value)" class="form-control" id="Password3" placeholder="Confirm Password">
                    </div>
                    <button type="button" id="password_update_button" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
