<div class="modal fade" id="remove_course" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="alert alert-danger">Remove Course</h3>
                <p>This action cannot be reversed! By confirming you will delete this course forever.</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <button type="submit" class="btn btn-danger btn-ok">Confirm</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
