{% extends 'layout.html'%}
{% block content %}
    <div>
        <div id="school" class="homepage" style="background:url({{ url_for('static', filename='img/school.jpg') }});" >
        </div>
        <div class="first homepage-banner">
            Welcome to TRHS. A fake highschool for practicing Flask Programming skills.
        </div>
        <div id="class" class="homepage" style="opacity:0.5;background:url({{ url_for('static', filename='img/classpic.jpg') }});" >
        </div>
        <div class="homepage-banner">
            We offer so many cool things for students, like sports...
        </div>
        <div id="sportpic" class="homepage" style="opacity:0.4;background:url({{ url_for('static', filename='img/basketball.jpg') }})">
        </div>
        <div class="homepage-banner">
            A cafeteria...
        </div>
        <div id="cafeteria" class="homepage" style="opacity:0.4;background:url({{ url_for('static', filename='img/cafeteria.jpeg') }})">
        </div>
        <div class="homepage-banner">
            And tests that make your kid smarter!
        </div>
        <div id="test" class="homepage" style="opacity:0.7;background:url({{ url_for('static', filename='img/test.jpg') }})">
        </div>
        <div class="homepage-banner last">
            Enroll today!
        </div>
        <div class=".d-inline-flex d-flex justify-content-around card-backdrop card-deck">

                <div class="card card-content homepage-card">
                    <img class="card-img-top card-icon" src="{{ url_for('static', filename='img/gradcap.png')}}" alt="Grad Cap">
                    <div class="card-body">
                        <p class="card-text">Give your Child the best fake education.</p>
                    </div>
                </div>


                <div class="card card-content homepage-card">
                    <img class="card-img-top card-icon" src="{{ url_for('static', filename='img/basketball-128.png')}}" alt="Basketball">
                    <div class="card-body">
                        <p class="card-text">And the best fake sports!</p>
                    </div>
                </div>

                <div class="card card-content homepage-card">
                    <img class="card-img-top card-icon" src="{{ url_for('static', filename='img/notebook.png')}}" alt="School Notebook">
                    <div class="card-body">
                        <p class="card-text">Make their studies a fake top priority!</p>
                    </div>
                </div>

        </div>
    </div>
    <div class="homepage-banner bottom">
            Thanks for visiting!
    </div>
{% endblock %}