{% extends 'layout.html'%}
{% block content %}
    <div id="school" class="homepage" style="background:url({{ url_for('static', filename='img/school.jpg') }});" >
    </div>
    <div class="first homepage-banner">
        Welcome to TRHS. A fake highschool for practicing Flask Programming skills.
    </div>
    <div id="class" class="homepage" style="background:url({{ url_for('static', filename='img/classpic.jpg') }});" >
    </div>
    <div class="homepage-banner">
        We offer so many cool things for students, like sports...
    </div>
    <div id="sportpic" class="homepage" style="min-height:600px!important;background:url({{ url_for('static', filename='img/basketball.jpg') }})">
    </div>
    <div class="homepage-banner">
        A cafeteria...
    </div>
    <div id="cafeteria" class="homepage" style="min-height:600px!important;background:url({{ url_for('static', filename='img/cafeteria.jpeg') }})">
    </div>
    <div class="homepage-banner">
        And tests that make your kid smarter!
    </div>
    <div id="test" class="homepage" style="min-height:600px!important;background:url({{ url_for('static', filename='img/test.jpg') }})">
    </div>
    <div class="homepage-banner" style="max-height:80px;">
        Thanks for visiting!
    </div>
{% endblock %}