{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block scripts %}
<script src="{{url_for('.static', filename='javascript.js')}}"></script>
{{super()}}
{% endblock %}

{% block title %}
    Welcome To TRHS
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='./css/styles.css')}}">
{% endblock %}

{% block navbar %}
    {% include 'includes/_navbar.html' %}
    {% include 'includes/_password_modal.html' %}
    {% include 'includes/_add_sport.html' %}
{% endblock %}
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}