{% extends "layout.html" %}
{% block content %}
<div class="container jumboton" style="margin-top:35px">
        {% if (current_user != None) and (current_user.birthday is defined) %}
        <h2>Logged In Student:</h2>
            <div class="card">
                <a href="student/{{ current_user.id }}">
                    <ul class="list-group">
                        <li class="list-group-item"><h3>{{ current_user.first_name }} {{ current_user.last_name }}</h3></li>
                        <li class="list-group-item">id: {{ current_user.id }}</li>
                        <li class="list-group-item">grade: </li>
                    </ul>
                </a>
            </div>
        {% endif %}
        <h2>All Enrolled Students</h2>
        {% for student in students %}
        <div class="card">
            <a href="student/{{ student.id }}">
                <ul class="list-group">
                    <li class="list-group-item"><h3>{{ student.first_name }} {{ student.last_name }}</h3></li>
                    <li class="list-group-item">id: {{ student.id }}</li>
                    <li class="list-group-item">grade: </li>
                </ul>
            </a>
        </div>
        {% endfor %}
</div>
{% endblock %}