{% extends "layout.html" %}
{% block content %}
<div class="container jumboton" style="margin-top:35px">
        <h2>Enrolled Students:</h2>
        {% for student in students %}
        <div class="flex card">
            <a class="school_index" href="students/{{ student.id }}">
                <img class="avatar card-img-top" src="{{ student.pic_url }}" alt="Student Pic">
                <h3>{{ student.first_name }} {{ student.last_name }}</h3>
            </a>
        </div>
        {% endfor %}
</div>
{% endblock %}