{% extends "layout.html" %}
{% block content %}
<div class="container jumboton" style="margin-top:35px">
        <h2>Current Faculty:</h2>
        {% for teacher in teachers %}
        <div class="flex card">
            <a class="school_index" href="teachers/{{ teacher.id }}">
                <img class="avatar card-img-top" src="{{ teacher.pic_url }}" alt="Teacher Pic">
                <h3>{{ teacher.first_name }} {{ teacher.last_name }}</h3>
            </a>
        </div>
        {% endfor %}
</div>
{% endblock %}